<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Update Example</title>
</head>
<nav>
  <ul>
    <li><a href="/songs">Songs anzeigen</a></li>
    <li><a href="/">Home</a></li>
    
  </ul>
</nav>

<form method="POST">
  
    <div class="form-group">
      <label for="name">Song:</label>
      <input
        type="song_url"
        class="form-control"
        id="song_url"
        name="song_url"
        placeholder="Enter music URL"
      />
    <div>
  <br />
  <button type="submit" >Submit</button>